<ng-container *ngIf="weather$ | async as weather">
  <mat-card>
    <mat-card-content>
      <div class="d-flex fd-col jc-center ai-center">
        <h2 class="text-center title">{{ weather.cityName }}</h2>
        <swa-weather-icon
          [weather]="weather.current.weather"
        ></swa-weather-icon>
        <span class="temperature-text">
          {{ weather.current.temp | unit: "temperature" }}
        </span>
        <span>Wind : {{ weather.current.wind_speed | unit: "windSpeed" }}</span>
      </div>
    </mat-card-content>
    <mat-card-content>
      <swa-forecast-hourly-view
        [forecast]="weather.hourly"
      ></swa-forecast-hourly-view>
      <swa-forecast-daily-viewer
        [forecast]="weather.daily"
      ></swa-forecast-daily-viewer>
    </mat-card-content>
  </mat-card>
</ng-container>
