<div class="container">
  <h2>Daily</h2>
  <div class="container">
    <mat-slider min="1" max="8" step="1" [(ngModel)]="slice"></mat-slider>
    <span
      matSort
      [matSortDisableClear]="true"
      (matSortChange)="sortData($event)"
    >
      <span mat-sort-header="sortDate">Sort</span>
    </span>
  </div>
</div>
<div
  class="container item"
  *ngFor="let item of forecast | slice: 0:slice; trackBy: trackBy"
>
  <div>{{ item.dt * 1000 | date: "dd/MM" }}</div>
  <div>
    <swa-weather-icon [weather]="item.weather"></swa-weather-icon>
  </div>
  <div>Temperature : {{ item.temp.day | unit: "temperature" }}</div>
  <div>Wind : {{ item.wind_speed | unit: "windSpeed" }}</div>
</div>
