<div class="d-flex jc-space-between ai-center">
  <h2 class="title">Hourly</h2>
  <div class="d-flex jc-end ai-center">
    <mat-slider min="1" max="25" step="1" [(ngModel)]="slice"></mat-slider>
    <span
      class="p-05 pr-0"
      matSort
      [matSortDisableClear]="true"
      (matSortChange)="sortData($event)"
      mat-sort-header="sortDate"
      >Sort
    </span>
  </div>
</div>
<div class="d-flex jc-space-between ai-center">
  <span>Date</span>
  <span>Icon</span>
  <span>Temp</span>
  <span>Wind</span>
</div>
<div
  class="d-flex jc-space-between ai-center"
  *ngFor="let item of forecast | slice: 0:slice"
>
  <span>
    {{ item.dt * 1000 | date: "HH:mm" }}
  </span>
  <span><swa-weather-icon [weather]="item.weather"></swa-weather-icon></span>
  <span>{{ item.temp | unit: "temperature" }}</span>
  <span>{{ item.wind_speed | unit: "windSpeed" }}</span>
</div>
