<div class="container">
  <h2 class="title">Hourly</h2>
  <div class="container">
    <mat-slider min="1" max="25" step="1" [(ngModel)]="slice"></mat-slider>
    <span
      class="p-1"
      matSort
      [matSortDisableClear]="true"
      (matSortChange)="sortData($event)"
      mat-sort-header="sortDate"
      >Sort
    </span>
  </div>
</div>
<div class="container" *ngFor="let item of forecast | slice: 0:slice">
  <span>
    {{ item.dt * 1000 | date: "dd.MM HH.mm" }}
  </span>
  <span><swa-weather-icon [weather]="item.weather"></swa-weather-icon></span>
  <span>{{ item.temp | unit: "temperature" }}</span>
  <span>{{ item.wind_speed | unit: "windSpeed" }}</span>
  <span>{{ item.humidity }} %</span>
</div>
