<mat-card class="mb-1">
  <mat-card-content>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>City Name, Country (optional)</mat-label>
      <input
        matInput
        placeholder="Type a city name"
        value=""
        #searchInput
        autocomplete="off"
        (input)="onSearch(searchInput.value)"
      />
    </mat-form-field>
    <div
      *ngIf="cityInfos$ | async as cityInfos"
      [ngClass]="{ 'd-none': !resultListVisibility }"
    >
      <p *ngIf="cityInfos.length > 0"><b>Select a location</b></p>
      <mat-selection-list
        [multiple]="false"
        [(ngModel)]="selectedCity"
        (selectionChange)="selectionChanged()"
      >
        <mat-list-option *ngFor="let city of cityInfos" [value]="city">
          {{ city.name }}, {{ !!city.state ? city.state + "," : "" }}
          {{ city.country }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-card-content>
</mat-card>
