<div class="container">
  <h2 class="title">Daily</h2>
  <div class="container">
    <mat-slider min="1" max="8" step="1" [(ngModel)]="slice"></mat-slider>
    <span
      class="p-1"
      matSort
      [matSortDisableClear]="true"
      (matSortChange)="sortData($event)"
      mat-sort-header="sortDate"
      >Sort</span
    >
  </div>
</div>
<div
  class="container item"
  *ngFor="let item of forecast | slice: 0:slice; trackBy: trackBy"
>
  <div>{{ item.dt * 1000 | date: "dd/MM" }}</div>
  <div>
    <swa-weather-icon [weather]="item.weather"></swa-weather-icon>
  </div>
  <div>
    Temp : {{ item.temp.max | unit: "temperature" }} /
    {{ item.temp.min | unit: "temperature" }}
  </div>
  <div>Wind : {{ item.wind_speed | unit: "windSpeed" }}</div>
</div>
